<%include header%>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Mật khẩu</label>
            <input type="password" class="form-control border-input" id="password"placeholder="Old Password" value="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Mật khẩu mới</label>
            <input type="password" class="form-control border-input" id="new_pass" placeholder="New Password" value="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>nhập lại Mật khẩu</label>
            <input type="password" class="form-control border-input" id= "repass" placeholder="Re Password" value="">
        </div>
    </div>
</div>
<%include footer%>