<%include header%>
<link rel="stylesheet" href="/stylesheets/inbox.css">
</head>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            
            <div class="form-group">
				<label>Tìm người dùng</label>
				<input type="text" class="form-control border-input" id=""placeholder="Search" value="">
			</div>
          </div>
          <div class="inbox_chat">
          
            <!-- <div class="chat_list">
             <a href="#"><div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib" >
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions 
                    astrology under one roof.</p>
                </div>
                </div>
              </a>
              </div> -->
           
            </div>
            </div>
        
           
        <div class="mesgs">
          <div class="msg_history">
            <!-- <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test which is a new approach to have all
                    solutions</p>
                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
            </div> -->
           
          </div>
          
          <div class="type_msg">
            <div class="">
              <textarea type="text" class="form-control border-input" placeholder="Nhập tin nhắn..." id="input"></textarea>
            </div> 
           <button class="msg_send_btn" type="button"><i class="fa fa-paperclip list-icon" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    <%include footer%>  
      

